<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/register.css" />
    <title>Deep Deliverance Attendance Page</title>
  </head>

  <body>
    <div class="form-body success">
      <div class="form-wrapper">
        <div class="form-logo">
          <img src="/public/images/logo.png" alt="">
        </div>
        <div class="form">
          <h3>
            Congratulations!!! You have successfully registered. Please download
            your registration slip below
          </h3><br><br>
          <a href="/download">Download</a>
        </div>
      </div>
    </div>
  </body>
</html>
