@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 ;
}

a{
  text-decoration: none;
}

body {
  padding: 0;
  /* font-family: 'Uchen', serif !important; */
  margin: 0;
  /* background-color: yellow; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.first-page{
  display: flex;
  text-align: left;
  justify-content: start;
  
}

.first-page .navigation{
  display: flex;
  margin: 5rem 0;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.first-page .home{
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.first-page .big-logo{
  background: #77125E;
  height: 450px;
  border-right: 1px solid #fff;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  width: 350px;
  padding: 60px 40px;
}

.first-page .big-logo h3{
  font-size: 22px;
  margin-bottom: 5px;
}

.first-page .big-logo p{
  display: inline-block;
  color: #9b326c;
  font-size: 14px;
  margin-bottom: 25px;
}

.first-page .big-logo input{
  padding: 10px 15px;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 12px;
}

.first-page .big-logo input:focus{
  outline: none;
  border: none;
}

.first-page .big-logo button{
  padding: 7px;
  border: none;
  font-weight: 400;
  width: 100px;
}

.first-page .phone-container{
  background-color: #77125E;
  display: flex;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.first-page .phone-items img{
  width: 100%;
  height: 306px;
  object-fit: cover;
}


.first-page .form{
  background-color: #23282C;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  color: #fff;
}

.chat{
  /* background-color: #23282C; */
  /* position: absolute; */
}

.chat-form{
  position: fixed;
  bottom: 0;
  z-index: 999;
}

.messages{
  /* position: absolute; */
}

.chat-form form input{
  padding: 0 0 0 5px;
  border: 1px solid #ddd;
  margin: 0;
}

.chat-form form button{
  padding: 5px 8px;
  margin: 0;
}

.chat-form form{
  display: flex;
}



@media screen and (max-width: 430px) {


  .first-page .home{
    /* background-color: red; */
    width: 100%;
    margin: 1em;
    padding: 0;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .first-page .navigation{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .first-page .big-logo input{
    padding: 10px 15px;
    width: 100%;
    border: none;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 12px;
  }

  .first-page .phone-items img{
    width: 300px;
    height: 306px;
    object-fit: contain;
  }

  .first-page .big-logo{
    width: 100%;
    border-radius: .3rem;
  }

  .first-page .phone-container{
    width: 100%;
    margin-top: 1rem;
    border-radius: .3rem;
    height: 400px;
  }


}